<div id="myCarousel" class="carousel slide container-lg" data-bs-ride="carousel">

	<div class="carousel-inner">
		{% if banners %}
			{% for key, banner in banners %}
				<div class="carousel-item {% if key == 0%}active{% endif %} background">
					<div class="layer"></div>
					<img src="{{ asset('uploads/banners/' ~ banner.image) }}" alt="{{banner.title}}" width="100%" height="100%"/>
					<div class="container">
						<div class="carousel-caption text-start">
							<h1 class="mb-4">{{banner.title}}</h1>
							<p>
								<a class="btn btn-lg my_btn" target="_blank" href="{{banner.link}}">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="carousel-item active background">
				<div class="layer"></div>
				<img src="https://source.unsplash.com/collection/OFm9lEloCd8" alt="Apres bac" width="100%" height="100%"/>
				<div class="container">
					<div class="carousel-caption text-start">
						<h1 class="mb-4">Votre compagnon après le bac</h1>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	{% if banners|length > 1 %}
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	{% endif %}
</div>
