<section class="inscriptions">
	<div class="container">
		<h2 class="inscriptions__title text-center">Inscription à
			<span>l'université</span>
		</h2>
		<div class="row">
			<div class="col-12 col-lg">
				<div class="card">
					<div class="card-body inscriptions__card d-flex flex-column">
						<h3 class="card-title text-center">PACK NORMAL</h3>
						<div class="inscriptions__card-items">
							<div class="d-flex align-items-center gap-3">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>Informer gratuitement l'abonné des nouveautés des concours d'accès aux écoles.</h4>
								</div>
							</div>

							<div class="d-flex align-items-center gap-3">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>L'abonné se charge lui-même des candidatures.</h4>
								</div>
							</div>

							<div class="d-flex align-items-center gap-3 ">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>Session d'orientation.</h4>
								</div>
							</div>

							<div class="d-flex align-items-center gap-3">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>Quelles formations choisir ?</h4>
								</div>
							</div>

							<div class="d-flex align-items-center gap-3">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>Comment avoir un bon dossier ?</h4>
								</div>
							</div>
						</div>
						<a href="{{ path('app_pack_normal') }}" class="btn myBtn first-card-link mt-3">
							<span>
								<span>
									<span>je suis intéressé</span>
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg mt-lg-0 mt-4">
				<div class="card second-card">
					<div class="card-body inscriptions__card d-flex flex-column">
						<h3 class="card-title text-center flex-grow-1 d-flex justify-content-center align-items-center">PACK SPECIAL</h3>

						<div class="inscriptions__card-items">
							<div class="d-flex align-items-center gap-3">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>Informer gratuitement l'abonné des nouveautés des concours d'accès aux écoles.</h4>
								</div>
							</div>

							<div class="d-flex align-items-center gap-3">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>
										<strong>APRESBAC</strong>
										se charge des candidatures et leurs suivi à la place de l'abonné.</h4>
								</div>
							</div>

							<div class="d-flex align-items-center gap-3 ">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>Session d'orientation.</h4>
								</div>
							</div>

							<div class="d-flex align-items-center gap-3">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>Quelles formations choisir ?</h4>
								</div>
							</div>

							<div class="d-flex align-items-center gap-3">
								<div class="inscriptions__card-item--triangle">
									<span class="icon">
										<i aria-hidden="true" class="fas fa-check"></i>
									</span>
								</div>
								<div class="inscriptions__card-item--title">
									<h4>Comment avoir un bon dossier ?</h4>
								</div>
							</div>
						</div>
						<a href="{{ path('app_pack_special') }}" class="btn btn-primary second-card-link mt-3">je suis intéressé</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
