<div class="container searchs">
	<div class="row d-flex justify-content-center">
		<div class="col-md-9">
			<div class="card p-4 mt-3">
				<h3 class="heading mt-3 text-center title">Trouvez votre
					<span>voie<span></h3>
						<small class="text-center">Vous ne savez pas quoi étudier ? Utilisez notre barre de recherche ci-dessous pour découvrir les différents établissements qui s'offrent à vous.
						</small>
						<div class="d-flex justify-content-center px-5">
							<div class="search">
								{{ form_start(form) }}
								{{ form_widget(form) }}
								<button type="submit" class="search-icon">
									<i class="fa fa-search"></i>
								</button>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
