{% if banners|length > 0 %}
	<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			{% for key, banner in banners %}
				<a class="carousel-item {% if key == 0%}active{% endif %} background" target="_blank" href="{{banner.link}}">
					<img src="{{ asset('uploads/banners/' ~ banner.image) }}" alt="{{banner.title}}" width="100%" height="100%"/>
				</a>
			{% endfor %}
		</div>
		{% if banners|length > 1 %}
			<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		{% endif %}
	</div>
{% endif %}
