<div class="container searchs">
	<div class="row d-flex justify-content-center">
		<div class="col-md-9">
			<div class="card p-4 mt-3">
				<div class="d-flex justify-content-center px-5">
					<div class="search">
						{{ form_start(form) }}
						{{ form_row(form.mots,  {'value': mots}) }}
						<button type="submit" class="search-icon">
							<i class="fa fa-search"></i>
						</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
