<h1>Bonjour!</h1>
<p>
	Un message reçu depuis la page
	<strong>contact.</strong>
</p>
<p>
	les infromations de la personne qui vous contact:
</p>
<strong>Nom et prénom</strong>
:
{{contact.name}}
<br>
<strong>Email</strong>
:
{{contact.email}}
<br>
<strong>Téléphone</strong>
:
{{contact.phone}}
<br>
<strong>Message</strong>
:
{{contact.message}}
<br>

<p>A la vôtre !</p>
