<div class="searchs">
	<div class="row">
		<div class="col-md-6">
			<div class="search">
				{{ form_start(form) }}
				{{ form_row(form.mots,  {'value': mots}) }}
				<button type="submit" class="search-icon">
					<i class="fa fa-search"></i>
				</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
